body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 1px solid black;
    width: 100%;
    max-width: 900px;
}

button {
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    border-style: none;
    background-color: #757575;
    color: white;
    font-weight: 400;
}

button[type=submit] {
    background-color: #1900ff;
}

button[type=submit]:active {
    background-color: #005eff;
}

button[type=submit]:disabled {
    background-color: #909090;
}

button:active {
    background-color: #333333;
    font-weight: 600;
}

input[type=text], 
input[type=number],
input[type=password],
textarea {
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #909090;
}

input[type=text]:invalid, 
input[type=number]:invalid,
input[type=password]:invalid {
    border: 1px solid red;
}

thead {
    color: #757575;
    font-size: 18px;
}

thead th {
    padding-bottom: 8px;
    padding-left: 8px;
    padding-top: 4px;
    padding-right: 8px;
}

thead > tr {
    background-color: aqua;
}

tbody tr {
    background-color: aquamarine;
}

tbody tr:hover {
    background-color: #57b797;
    cursor: pointer;
}

tbody td {
    padding: 4px;
}

a.crud {
    text-decoration: none;
    color: black;
    font-weight: 600;
    background-color: #AABBCC;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    transition: padding 1s;
    overflow: hidden;
}

a.crud:hover {
    background-color: #CCCCCC;
    border-width: 2px;
    padding: 16px;
    transition: padding 2s;
}

div.formulario {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 8px;
    padding-bottom: 16px;
}


/*
SELECTOR {
    ATRIBUTO: VALOR;
}

*/